@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MerriweatherItalic';
    src: url('../fonts/Merriweather-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'MerriweatherLight';
    src: url('../fonts/Merriweather-Light.otf') format('opentype');
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* **************************************************************** */

body { background:#f5f4f4; position:relative; }

#floatingElements {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    bottom:auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index:900;
}
#floatingElements.is-fixed {
    position: fixed;
}
#floatingElements.is-bottom {
    bottom: 0;
    top: auto;
}
    #menuWrapper {
        width:100%;
        height:80px;
        margin:0;
        background:#deede9;
        position:relative;
    }
        #menuWrapper .menuItemWrapper {
            width:20%;
            height:100%;
            float:left;
            overflow:hidden;
        }
        #menuWrapper .menuItemWrapper .menuItem {
            width:100%;
            height:25px;
            padding-top:25px;
            font-family:OpenSansSemibold;
            font-size:18px;
            color:#000;
            text-align:center;
        }
            #menuWrapper .menuItemWrapper .menuItem a {
                text-decoration:none;
                color:#000;
            }
        #menuWrapper .menuItemWrapper .progressItem {
            width:100%;
            height:13px;
            text-align:center;
        }
            #menuWrapper .menuItemWrapper .progressItem .circle {
                width:13px;
                height:13px;
                background:url(../images/circulo-blanco.jpg) center center no-repeat;
                display:inline-block;
                margin:0 5px;
            }
                #menuWrapper .menuItemWrapper .progressItem .circle a {
                    display:block;
                    width:13px;
                    height:13px;
                }
            #menuWrapper .menuItemWrapper .progressItem .active {
                width:13px;
                height:13px;
                background:url(../images/circulo-gris.jpg) center center no-repeat;
                display:inline-block;
                margin:0 5px;
            }
        
        #menuWrapper #progressWrapper {
            position:absolute;
            top:58px;
            left:0px;
            width:0px;
            height:3px;
            background:#6b6565;
            z-index:950;
        }
    
    #graphWrapper {
        width:100%;
        height:340px;
        text-align:center;
        position:absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    
    #fotoCard {
        position:absolute;
        bottom:20px;
        width:132px;
        height:auto;
        background:#FFF;
        -webkit-box-shadow: 0px 0px 4px 2px #808080;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0px 0px 4px 2px #808080;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0px 0px 4px 2px #808080;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        z-index:999;
        overflow:hidden;
    }
        #fotoCard #foto {
            width:122px;
            height:175px;
            margin:5px;
            overflow:hidden;
        }
            #fotoCard #foto img {
                width:122px;
            }
        #fotoCard #nombre {
            font-family:OpenSans;
            font-size:14px;
            color:#000;
            padding-left:5px;
        }
        #fotoCard #partido {
            font-family:OpenSans;
            font-size:10px;
            color:#000;
            padding-left:5px;
            padding-bottom:5px;
        }
    
#scrollerWrapper {
    width:100%;
    position:relative;
}
    #scrollerWrapper .screenContainer {
        width:100%;
        text-align: center;
        position:relative;
        opacity:0;
    }
        #scrollerWrapper .screenContainer.is-active { opacity:1; }
        #scrollerWrapper #screen-0 { opacity:1; }
        #scrollerWrapper #screen-0 .titulo { opacity:1; }
        #scrollerWrapper #screen-0 .textoWrap { opacity:1; }
        .screenContainer .titulo {
            max-width:725px;
            min-height:90px;
            padding-top:110px;
            font-family:MerriweatherItalic;
            font-size:30px;
            color:#000;
            margin:0px auto;
        }
        .screenContainer .textoWrap {
            max-width:600px;
            margin:0px auto;
            padding-top:340px;
        }
            .screenContainer .texto {
                font-family:MerriweatherLight;
                font-size:16px;
                color:#000;
                text-align:left;
            }
            .screenContainer .link {
                font-size:12px;
                line-height:25px;
                font-family:OpenSans;
                text-align:center;
            }
                .screenContainer .link a {
                    text-decoration:none;
                    color:#6581be;
                }

#mapaWrapper {
    width:100%;
    background:#f5f4f4;
    text-align:center;
    padding:125px 0 0 0;
    margin:auto 0;
}
    #mapaWrapper img {
        width:80%;
        margin:20px auto;
    }

@media all and (min-width: 800px) and (max-width: 950px) {
    #menuWrapper .menuItemWrapper .menuItem {
        font-size:15px;
    }
    .screenContainer .titulo {
        font-size:25px;
    }
    .screenContainer .texto {
        font-size:14px;
    }
}

@media all and (max-width: 800px) {
    #menuWrapper { 
        margin:0;
        height:60px;
    }
    #menuWrapper .menuItemWrapper .menuItem {
        font-size:11px;
        padding-top:10px;
    }
    .screenContainer .titulo {
        font-size:20px;
    }
    .screenContainer .texto {
        font-size:11px;
    }
    #menuWrapper .menuItemWrapper .progressItem .circle {
        margin:0 2px;
    }
    #menuWrapper .menuItemWrapper .progressItem .active {
        margin:0 2px;
    }
}
